/* font-family: 'Gabriela', serif;
font-family: 'Great Vibes', cursive;
font-family: 'Montserrat', sans-serif;
font-family: 'Open Sans', sans-serif; */

@font-face {
  font-family: "Gabriola";
  src: url("../font/Gabriola.ttf");
}

/* ==================== cover ===================== */
#cover {
  position: fixed;
  top: 0px;
  bottom: 0px;
  right: 0px;
  left: 0px;
  background-color: #ffffff;
  z-index: 999;
  height: 100%;
  width: 100%;
  transition: opacity 1s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.cover-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-width: 7px 7px;
  border-style: double;
  border-color: #dfba53;
}

.cover-content {
  text-align: center;
}

.cover-content h1 {
  font-size: 16px;
  font-weight: bold;
}

.cover-ornamnet-atas img {
  width: 200px;
  padding-top: 30px;
}

.cover-ornamnet-bawah img {
  width: 150px;
  padding-bottom: 30px;
}

.text-dari {
  font-family: "Open Sans", sans-serif;
  color: #aaa;
  font-size: 15px;
  margin-top: 0px;
}

.text-untuk {
  font-family: "Raleway", sans-serif;
  color: #c7ae65;
  font-size: 22px;
  margin-bottom: 0px;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 0.1em;
}

.cover-content span {
  color: #aaa;
}

#btn-cover {
  border: none;
  background: #dfba53;
  color: #ffffff;
  font-weight: bold;
  padding: 5px 20px;
}
/* ======================== akhir cover ======================== */

p,
span {
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
}

.section-bg {
  background: url(../img/bg.png);
  background-size: cover;
  position: relative;
  width: 100%;
  min-height: 100vh;
  margin-top: 0.5em;
}

/* ======================== banner ======================== */
.ornament-kanan {
  position: fixed;
  top: 0;
  right: 0;
  margin-right: -30px;
  margin-top: -25px;
  width: 150px;
  z-index: 9;
}

.ornament-kiri {
  position: fixed;
  top: 0;
  left: 0;
  margin-left: -30px;
  margin-top: -25px;
  width: 150px;
  z-index: 9;
}

#banner h2 {
  font-family: "Great Vibes", cursive;
  font-size: 70px;
  font-weight: 100 !important;
  text-transform: capitalize;
}

.img-cincin {
  width: 50px;
}
/* ======================== akhir banner ======================== */
/* ======================== waktu ======================== */
.waktu-box::after,
.waktu-box::after,
.waktu-box::after {
  content: ":";
  position: absolute;
  right: 0;
  top: 0;
  font-weight: bold;
}

.waktu span {
  font-size: 20px;
  font-weight: bold;
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
}

.waktu div {
  color: #c4c4c4;
  font-weight: 400;
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  margin-top: -5px;
}

#btn-waktu-pernikahan {
  display: none;
}
/* ======================== akhir waktu ======================== */
/* ======================== pangantin ======================== */
#pengantin {
  padding-top: 50px;
  padding-bottom: 80px;
}

#pengantin .container {
  position: relative;
}

#pengantin h4 {
  font-family: "Gabriola";
  font-size: 26px;
  font-weight: 100 !important;
}

.nama-pengantin {
  font-size: 30px;
  font-weight: 100 !important;
  font-family: "Great Vibes", cursive;
  color: #c6ad7b;
  margin-top: 15px;
}

.h2-dengan {
  font-size: 44px;
  font-family: "Great Vibes", cursive;
  color: #c6ad7b;
}

#pengantin p {
  color: #351105;
  font-family: "Gabriola";
  font-weight: 100 !important;
  font-size: 20px;
  line-height: 24px;
}

.img-pengantin {
  width: 180px;
  border-radius: 100px;
  padding: 4px;
  border: 4px solid #f2e6c9;
}

.ornament-kiri-1 {
  position: absolute;
  top: 0;
  left: 15px;
  width: 100px;
  opacity: 0.5;
}

.ornament-kanan-1 {
  position: absolute;
  bottom: 0;
  right: 15px;
  width: 70px;
  opacity: 0.5;
}
/* ======================== akhir pengantin ======================== */
/* ======================== video pengantin ======================== */
#video {
  padding: 60px 0px;
  background-color: #f2e6c9;
}
.video-container {
  height: 500px;
}
/* ======================== akhir video ======================== */
/* ======================== acara ======================== */
.separator-tengah {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2px;
  height: 280px;
  background-color: #b7ba83;
}

.mobile-detail {
  display: none;
}
.container-acara p {
  font-weight: bold;
  font-size: 20px;
  font-family: "Crimson Pro", serif;
  font-style: italic;
  color: #111111;
}
.nama-acara {
  font-size: 30px;
  font-family: "Gabriola";
  color: #111111;
  text-transform: capitalize;
  font-weight: 100 !important;
  letter-spacing: normal;
  padding-bottom: 20px;
}

.h5-acara {
  color: #111111;
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  font-weight: bold;
}

.p-acara {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  margin-top: 8px;
  color: #a0824d;
  text-transform: capitalize;
  font-weight: bold;
}
/* ======================== akhir acara ======================== */
/* ======================== salam ======================== */
#salam-penutup,
#salam-pembuka {
  padding: 50px 0px;
}
#salam-pembuka .container,
#salam-penutup .container {
  position: relative;
}
.ornament-kanan-2 {
  position: absolute;
  top: 0;
  right: 15px;
  width: 60px;
  opacity: 0.5;
}

.ornament-kiri-2 {
  position: absolute;
  bottom: 0;
  left: 15px;
  width: 80px;
  opacity: 0.5;
}

.salam-pembuka h4 {
  font-size: 26px;
  text-transform: capitalize;
  color: #a0824d;
  font-family: "Gabriola";
  font-weight: 100 !important;
}

.salam-pembuka p {
  color: #351105;
  font-family: "Gabriola";
  font-weight: 100 !important;
  font-size: 20px;
  line-height: 24px;
}

.salam-penutup h4 {
  font-size: 26px;
  text-transform: capitalize;
  color: #a0824d;
  font-family: "Gabriola";
  font-weight: 100 !important;
}
.salam-penutup p {
  color: #351105;
  font-family: "Gabriola";
  font-weight: 100 !important;
  font-size: 20px;
  line-height: 24px;
}
/* ======================== akhir salam ======================== */
/* ======================== protokol ======================== */
#protokol {
  background-color: #e5e5e5;
  margin: 0;
  padding: 40px 15px;
}
.container-protokol h4 {
  font-family: "Gabriela", serif;
  font-size: 16px;
  text-decoration: underline;
  color: #111111;
}
.container-protokol p,
.container-protokol span {
  color: #626262;
}
.box {
  display: flex;
  align-items: center;
  justify-content: left;
}
.img-protokol {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}
.container-acara {
  margin: 0;
  margin-top: 30px;
  padding: 40px;
}
/* ======================== akhir protokol ======================== */
/* ======================== gallery ======================== */
#gallery {
  padding: 50px 0px;
  background-color: #f2e6c9;
}

#gallery p {
  font-size: 14px;
  color: #626262;
  font-weight: 700 !important;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
}
#gallery {
  font-size: 30px;
  font-weight: 100 !important;
  font-family: "Great Vibes", cursive;
  color: #c6ad7b;
}

.img-gallery {
  width: 100%;
  margin-top: 20px;
}

.carousel__track,
  .fancybox__counter,
  .fancybox__button--thumbs,
  /* .fancybox__button--slideshow, */
  .fancybox__button--fullscreen,
  .fancybox__button--zoom {
  display: none !important;
}
/* ======================== akhir gallery ======================== */
/* ======================== maps ======================== */
#btn-resepsi,
#btn-pernikahan {
  border-radius: 0px;
  font-family: "Gabriola";
  font-size: 18px;
}

#buttonMaps {
  padding-top: 20px;
}

#buttonMaps h2 {
  font-size: 14px;
  color: #626262;
  font-weight: 700 !important;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
}
.btn-maps {
  margin: 0;
  margin-top: 20px;
  background: #c6ad7b;
  border: 1px solid #c6ad7b;
  border-radius: 0px;
  color: #ffffff;
}
.btn-maps:hover {
  margin: 0;
  margin-top: 20px;
  border: 1px solid #c6ad7b;
  background-color: transparent;
  border-radius: 0px;
}
.maps-container {
  width: 100%;
  height: 500px;
}

/* ======================== akhir maps ======================== */
/* ======================== gift ======================== */
#gift {
  margin: 0;
  margin-top: 30px;
  padding: 30px 0px;
  width: 100%;
}

#gift h2 {
  font-size: 14px;
  color: #626262;
  font-weight: 700 !important;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  padding-bottom: 30px;
}

.img-qr {
  width: 200px;
}

/* ======================== akhir gift ======================== */
/* ======================== buku tamu ======================== */
#buku-tamu h2 {
  font-size: 14px;
  color: #626262;
  font-weight: 700 !important;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  padding-top: 40px;
  padding-bottom: 30px;
}

#nama,
#pesan,
#kehadiran,
.btn-tamu {
  border-radius: 2px;
  border: 1px solid #c6ad7b;
}
/* ======================== akhir buku tamu ======================== */
/* ======================== nama ======================== */
.nama {
  margin: 0;
  margin-top: 40px;
}
.nama h2 {
  font-size: 44px;
  font-weight: 100 !important;
  font-family: "Great Vibes", cursive;
  color: #c6ad7b;
  margin-top: 15px;
}

.img-ornamnet {
  width: 300px;
}
/* ======================== akhir nama ======================== */
/* ======================== audio ======================== */
#audio {
  margin: 0;
  margin-top: 30px;
  padding: 30px 0px;
}
/* ======================== akhir audio ======================== */
/* ======================== footer ======================== */
#footer {
  margin: 0;
  margin-top: 30px;
  background-color: #a0824d;
  padding: 40px;
  color: white;
}

#footer a {
  color: white;
  text-decoration: underline;
}

#footer .btn-footer {
  margin: 0;
  margin-top: 40px;
  text-decoration: none;
  border: 1px solid #e5e5e5;
  border-radius: 0px;
}
/* ======================== akhir footer ======================== */
/* ======================== navbar ======================== */
.navbar-container {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background: #c19e67;
  z-index: 10;
  overflow: auto;
  white-space: nowrap;
}
.navbar-container .navbar-menu {
  display: inline-block;
  width: 85px;
  text-align: center;
  font-weight: 700 !important;
  font-family: "Montserrat", sans-serif;
  font-size: 7px;
  padding: 13px 10px 5px;
  color: #dac9c9;
}

.navbar-container .navbar-menu i {
  font-size: 20px;
  padding-bottom: 10px;
}
/* ======================== akhir navbar ======================== */

@media (max-width: 1024px) {
  .ornamnet-kiri-3 {
    width: 150px;
    position: absolute;
    left: 0em;
    margin-top: 8em;
  }

  .ornamnet-kanan-3 {
    width: 150px;
    position: absolute;
    right: 0em;
    margin-top: 10em;
  }
}

@media (max-width: 768px) {
  .video-container {
    width: 100%;
    height: 300px;
  }
}

@media (max-width: 425px) {
  #resepsi {
    padding-left: 20px;
  }

  #btn-waktu-pernikahan {
    display: block;
  }
  .mobile-detail {
    overflow-x: hidden;
    display: -webkit-box;
    flex-wrap: nowrap;
  }
  .img-icons {
    width: 50px;
  }
  .desktop-detail {
    display: none;
  }
  .ornamnet-kiri-1,
  .ornamnet-kanan-1 {
    width: 120px;
  }

  .slider-item,
  .video-item {
    padding: 0px !important;
  }
  #carousel {
    margin-top: -100px;
  }

  .img-ornamnet {
    width: 300px;
  }

  .video-container {
    width: 100%;
    height: 200px;
  }
}

@media (max-width: 320px) {
  .img-protokol {
    width: 30px;
    height: 30px;
    margin-right: 10px;
  }

  #protokol span {
    font-size: 13px;
  }

  .video-container {
    height: 200px;
  }
  .img-ornamnet {
    width: 250px;
  }
}
